matplotlib>=3.7.2
numpy
padasip
pandas
plotly
pyarrow
scikit_learn
scipy
seaborn
openpyxl
jupyter
gpytorch>=1.11
botorch
tqdm
kaleido
plotly-resampler>=0.9.1
holoviews>1.18.1
datashader>=0.15.2
selenium
pypdf2
KDEpy==1.1.9